<html>

<head>
    {% if title %}
        <title>{{title}} - microblog</title>
    {% else %}
        <title>Welcome to microblog</title>
    {% endif %}
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
    	p.comments {
    		color: blue;
    		font-size: 12px;
    	}
    </style>
</head>

<body>
	<div>Microblog: 
        <a href="{{url_for('index')}}">Home</a>
        {% if g.user.is_authenticated() %}
        | <a href="{{ url_for('user', nickname = g.user.nickname) }}">Your profile</a>
        | <a href="{{ url_for('portfolio', nickname = g.user.nickname) }}">Your Portfolio</a>
        | <a href="{{url_for('logout')}}">Logout</a>
        {% endif %}
    </div>
	<hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{message}}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
	{% block content %}{% endblock %}
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>

</html>
